//
//  Secrets.xcconfig
//  H2Oe
//
//  Created by Christina Moser on 19.12.25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


WMSGW_API_KEY = 460276c6b17d485ea29604196d48fb5a
